<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= data.page.title || data.site.name %></title>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "modernizr" %>
    <%= favicon_tag 'favicon.png' %>
    <% if content_for?(:head) %><%= yield_content :head %><% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <%= javascript_include_tag "foundation" %>
    <% if content_for?(:end_body) %><%= yield_content :end_body %><% end %>
  </body>
</html>
