<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= data.page.title || data.site.name %></title>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "modernizr" %>
    <%= favicon_tag 'favicon.png' %>
    <% unless current_page.data.head.nil? %>
      <% for p in current_page.data.head %>
        <%= partial "/partials/#{p}" %>
      <% end %>
    <% end %>
    <% if content_for?(:head) %><%= yield_content :head %><% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= partial "/partials/sample_warning" %> <!-- Remove this! -->

    <% unless current_page.data.beginbody.nil? %>
      <% for p in current_page.data.beginbody %>
        <%= partial "/partials/#{p}" %>
      <% end %>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag "foundation" %>
    <% unless current_page.data.endbody.nil? %>
      <% for p in current_page.data.endbody %>
        <%= partial "/partials/#{p}" %>
      <% end %>
    <% end %>
    <% if content_for?(:end_body) %><%= yield_content :end_body %><% end %>
  </body>
</html>
