<!doctype html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    
    <title><%= data.page.title || data.site.name %></title>

    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag  "vendor/custom.modernizr" %>
    <%= favicon_tag 'favicon.png' %>
    <% if content_for?(:head) %><%= yield_content :head %><% end %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <script>
      if ('__proto__' in {}) {
        document.write('<%= js_escape_html(javascript_include_tag 'vendor/zepto.js') %>');
      }
      else {
        document.write('<%= js_escape_html(javascript_include_tag 'vendor/jquery.js') %>');
      }
    </script>
    <%= javascript_include_tag "foundation" %>
    <script>
      $(document).foundation();
    </script>
    <% if content_for?(:end_body) %><%= yield_content :end_body %><% end %>
  </body>
</html>
